<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DdTD COnfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <typeAliases>-->
<!--        <package name="com.poscoict.insta.user.model"/>-->
<!--        <package name="com.poscoict.insta.post.model"/>-->
<!--        <package name="com.poscoict.insta.follow.model"/>-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--        <mapper resource="mapper/userMapper.xml"/>-->
<!--        <mapper resource="mapper/postMapper.xml"/>-->
<!--        <mapper resource="mapper/followMapper.xml"/>-->
<!--    </mappers>-->
</configuration>