<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poscoict.rollin.gift.repository.GiftMapper">
    <select id="getGiftById" parameterType="Integer" resultType="GiftDto">
        SELECT
            id, price, content, name, img
        FROM
            gifts
        WHERE id=#{id}
    </select>

    <insert id="insertPaper" parameterType="PaperDto">
        INSERT INTO
            papers(userId, nickname, content, giftId)
        VALUES
            (#{userId}, #{nickname}, #{content}, #{giftId})
    </insert>

    <update id="updateGiftCount" parameterType="Integer">
        UPDATE gifts
        SET count = count +1
        WHERE id = #{id}
    </update>

</mapper>